.header {
    width: 90%;
    background-color: #003399;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
}

.header--container {
    width: 90%;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.header--logo img {
    height: auto;
    max-height: 75%;
    object-fit: contain;
    max-width: 200px;
}

.header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
