.main-section {
    background: linear-gradient(to right, #2563EB, #153885);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

.background-image-left {
    position: absolute;
    top: 5%;
    left: -10%;
    width: 450px;
    height: auto;
    z-index: 1;
}


.background-image-right {
    position: absolute;
    bottom: -70%;
    right: -25%;
    width: 1000px;
    height: auto;
    z-index: 1;
    transform: rotate(-66deg);
}


.main-content {
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    color: white;
    z-index: 2;
}

.main-content--bottom {
    margin-top: 0;
}

.main-content h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

.main-content h2 {
    margin: 1rem 0;
    font-size: 3rem;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subject-input {
    width: 200px;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
    color: #2979FF;
    font-weight: bold;
}

.subject-input::placeholder {
    color: #2979FF;
    font-weight: bold;
}