.title-with-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem auto;
    width: 65%;
}

.title-with-line h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1C54B2;
}

.title-with-line .line {
    width: 100%;
    height: 2px;
    background-color: #1C54B2;
}
