.main-container {
    height: auto;
    width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.window {
    height: 100%;
    width: 100%;
    margin: 0 2rem;
    overflow: hidden;
}

.all-pages-container {
    height: 100%;
    display: flex;
    gap: 1rem;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrow {
    cursor: pointer;
}